.avatar{
    border-radius: 50%;
    width: 100px;
     
}
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #212529;
    margin: 0;
}
.main{
    padding: 10px;
}
.profile-header{
    font-size: 2rem
}
a{
    color: #007bff;
    text-decoration: none;
}
button-block{
    width: 100%;
}
li {
    margin-bottom: 15px;
}
.mb-15{
    margin-bottom: 15px; 
}
.contact-btn{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    border-radius: 15px;
    border: 1px solid #007bff;
    color: #007bff;
    background-color: transparent;
    font-size: 1.25rem;
    padding: 15px;
    margin: auto;
    outline: none;
}
.footer{
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center; 
    position: relative;
    bottom: 0;
}
.contact-btn:hover{
    color: #ffffff;
    background-color: #007bff;
    box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.5);
    transition-duration: 0.5s;
    border-radius: 15px;
    border: 1px solid #007bff;
}
@media(min-width: 992px){
    .main{
        margin-top:50px;
        margin-left: 25%;
        margin-right: 25%;
    }
    .footer{
        position: relative;
    }
}
@media(max-width: 991px){
    .profile-image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 200px
    }
    .avatar{
        width: 200px;
    }
    .contact-btn{
        width: 100%;
        text-align: center;
    }
    .profile-header{
        /* display: flex;
        width: 100%;
        justify-content: center;
        align-items: center; */
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .profile-text{
        font-size: 1.25rem;
    }
    /* Lines on Sides */
    /* .profile-header:before{
        content: '';
        border-top: 2px solid;
        margin: 0 5px 0 0;
        flex: 1 0 20px;
    }
    .profile-header:after {
        content: '';
        border-top: 2px solid;
        margin: 5px 0 0 0;
        flex: 1 0 20px;
    } */
}